{% extends 'base.html.twig' %}

        
{% block title %}
    MealMatch - Accueil
{% endblock %}

{% block body %}

<div class="background-image">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="container-div text-center">
                    <h1 style="color:green; font-size: 4rem;">MealMatch</h1>
                    <h3>Bienvenue sur MealMatch, le site pour partager et découvrir des recettes</h3>
                    
                    <a href="{{ path('recette_index_public') }}" class="btn btn-success" id="recipes-button">Toutes les recettes</a>

                </div>
            </div>
        </div>
        

    
    </div>
</div>
{% endblock %}



