{% extends 'base.html.twig' %}

        
{% block title %}MealMatch- Accueil!{% endblock %}

{% block body %}

<div class="background-image">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="container-div text-center">
            <h1>MealMatch</h1>
            <h3>Sous-titre</h3>
            <button type="button" class="btn btn-primary">Bouton</button>
          </div>
        </div>
      </div>
      <div class="recipes">
			<h2 class="mt-4">Recettes de la communauté</h2>
			<div class="d-flex justify-content-between">
				{% for recipe in recettes %}
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">Recette n°{{ recipe.id }}</div>
						<div class="card-body">
							<h4 class="card-title">
								<a href="{{ path('recette.show', {id: recipe.id}) }}">{{ recipe.titre}}</a>
							</h4>
							<p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

  </div>
{% endblock %}
