{% extends 'base.html.twig' %}

        
{% block title %}MealMatch- Accueil!{% endblock %}

{% block body %}

<div class="background-image">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="container-div text-center">
            <h1>MealMatch</h1>
            <h3>Sous-titre</h3>
            <button type="button" class="btn btn-primary">Bouton</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
